.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1;
  box-shadow: 2px 0 0 rgba(0, 0, 0, 1);
}

/* Styles for when the sidebar is open */
.sidebar-open {
  transform: translateX(0);
}

/* Styles for icon container */
.icon-container{
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.icon-container i{
  font-size: 80px;
}

.icon-container p{
  font-size: 20px;
}

.icon-container p strong {
  display: block; 
  font-size: 22px; 
  text-align: center;
}

/* Styles for sidebar items */
.sidebar-content {
  height: calc(100vh - 40px); /* ปรับตามขนาดที่ต้องการ */
  overflow-y: auto; /* ให้เลื่อนเมื่อเนื้อหาเกิน */
}

.sidebar-content .sidebar-items {
  display: flex;
  align-items: center;
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
}

.sidebar-content .sidebar-items:hover {
  background-color: #e9ecef;
  border-radius: 5px;
}

.sidebar-content .sidebar-items i {
  font-size: 30px;
}

.sidebar-content .sidebar-items span {
  font-size: 20px;
}

.menu-sidebar_items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

@media (max-width: 576px) {
  .sidebar {
    width: 100vw !important; /* ใช้ !important เพื่อให้แน่ใจว่ามันมีผล */
    height: 100vh !important; /* ใช้ !important เพื่อให้แน่ใจว่ามันมีผล */
    background-color: #fff !important; /* ใช้ !important เพื่อให้แน่ใจว่ามันมีผล */
    top: 0 !important; /* ใช้ !important เพื่อให้แน่ใจว่ามันมีผล */
    margin-top: 10px !important;
  }

  .sidebar-content {
    height: 100%; /* Full height for content alignment */
  }

  .icon-container {
    margin-top: 20px; /* Adjust top margin if needed */
  }
}